<div id="game" class="row">
  <div class="column">
    <pre><%= figure_for(@tally.turns_left) %></pre>
  </div>

  <div class="column">
    <%= render("_tally_info.html", tally: @tally) %>
    <%= move_status(@tally.game_state) |> raw %>
    <%= continue_or_try_again(@conn, @tally.game_state) %>
  </div>
</div>

